/* RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption,
tbody, tbody, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption, footer,
header, hgroup, menu, nav, output, ruby, section,
summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
strong, b {
  font-weight: bold;
}
em, i {
  font-style: italic;
}
a img {
  border: none;
}
/* END RESET*/

/* GLOBAL STYLES */

*, *:after, *:before {
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  max-width: 940px;
  padding: 0 15px;
}

body {
  font: sans-serif;
  background: #fafafa;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* HEADER STYLES */

.header {
  background-color: #24292e;
  color: #fff;
  width: 100%;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
}

.nav-links > li {
  display: inline-block;
  line-height: 4vh;
  padding-left: 1.2em;
}

.header-nav {
  float: right;
}

.logo {
  display: block;
  color: #fff;
  font-weight: bold;
  font-size: 1.7em;
  display: block;
  text-decoration: none;
  line-height: 4vh;
}

.top-nav {
  padding: 1.2em 1.5em 1em;
  height: 10vh;
}

.nav-links a:hover {
  color: #ddd;
}

.logo:hover {
  color: #ddd;
}

.tagged {
  border: 1px solid #d1d5da;
  border-radius: 4px;
  padding: 5px 7px;
}

/* HERO STYLES */

.hero {
  height: 90vh;
  text-align: center;
  background: url('../img/hand-corrupt.jpg') no-repeat center left;
  background-size: cover;
}

.hero .container {
  position: relative;
  top: 200px;
}

.hero h1 {
  color: #fff;
  font-size: 7.5rem;
  margin-bottom: 3rem;
}

.hero h3 {
  text-transform: uppercase;
  font-size: 1.2em;
  color: #fff;
  letter-spacing: 8px;
  margin-bottom: 1.9rem;
}

.btn {
  background-color: #000;
  text-decoration: none;
  color: #fff;
  padding: 10px 40px;
  transition: background-color 0.5s;
}

.btn:hover {
  background-color: rgba(255, 255, 255, 0.75);
  color: #000;
  cursor: pointer;
}

/* MAIN STYLES */
.main {
  padding-bottom: 100px;
}

.main img {
  height: 200px;
  float: left;
  margin: 50px 80px 80px 0;
}

.main h2 {
  font-weight: bold;
  font-size: 1.8em;
  margin-top: 100px;
}

.main p {
  font-size: 1.1em;
  margin: 15px;
  line-height: 20px;
}

/* JUMBOTRON */
.jumbotron {
  background: url('../img/bribery.jpg') no-repeat center left;
  background-size: cover;
  height: 600px;
}

.jumbotron .container {
  position: relative;
  top: 250px;
}

.jumbotron h2 {
  text-align: right;
  font-size: 1.9em;
  color: #fff;
  margin-bottom: 1em;
}

.jumbotron h3 {
  color: #fff;
  font-size: 1.3em;
  margin-bottom: 1em;
  text-align: right;
}

.jumbotron a {
  float: right;
}

/* FOOTER STYLES */

.footer {
  background-color: #000;
  padding: 40px 0 80px;
  color: #fff;
  text-align: center;
}


/* SIGN UP STYLES */
.menu .container {
  top: 60px;
  margin-left: 30%;
}
.menu-wrapper {
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(0, 0, 30, .5);
  background: #fff;
  max-width: 400px;
  border-radius: 5px;
}

.menu-title {
  border-bottom: 1px solid #f0f1f4;
  text-align: center;
  padding: 0;
  font-size: 1.5em;
  margin: 0;
  padding-bottom: 10px;
  margin-bottom: 1.5em;
}

.menu-title a {
  text-decoration: none;
  color: #555;
}

.menu-form input[type=text],
.menu-form input[type=password]
 {
  display: inline-block;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 3px #ddd;
  vertical-align: middle;
  border-radius: 2px;
  margin: 0;
  background-color: #fff;
  padding: 10px 15px;
  width: 100%;
}

.menu-inner {
  padding: 20px 25px;
}

.menu-form p {
  margin-bottom: 1.8em;
}

.data {
  padding: 12px 10px 10px;
}

.submit-btn {
  margin-top: 1em;
}

.menu-btn {
  padding: 12px 10px;
  display: block;
  width: 100%;
  background-image: linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1));
  background-color: #3eb060;
  color: #fff;
  border-radius: 4px;
  font-size: 100%;
  vertical-align: middle;
  white-space: nowrap;
  text-decoration: none;
  border: 1px solid #3eb060;
}

.terms-service {
  margin: 1px;
  padding: 20px 25px;
  background: #f7f7f7;
  font-size: 13px;
  line-height: 1.7;
  text-align:center;
}

/* DASHBOARD STYLES */

.btn-nav {
  background-color: #3eb060;
  color: #fff;
  text-decoration: none;
  color: #fff;
  padding: 3px 7px 4px;
  border-radius: 3px;
  transition: background-color 0.5s;
}

.dashboard{
  height: 90vh;
  text-align: center;
  background: #fafafa;
}

/* USER PROFILE STYLES*/

.user-content {
  flex: 1;
}

.profile-header table td {
  vertical-align: bottom;
}
.profile-header {
  min-height: 20vh;
  border-bottom: 2px solid #c2c2c2;
  padding-bottom: 1em;
  position: relative;
}

.profile-header h1 {
  font-weight: bold;
  color: #333;
  line-height: 1.3;
  font-size: 2.2em;
  margin-top: 1em;
}


.profile-header .tag-line {
    color: #333;
    font-size: 1.1em;
    margin-top: 0.5em;
}

.followers {
  color: #888;
  font-style: italic;
  margin-top: 0.5em;
}

.edit-profile {
  margin-top: 0.4em;
}

.edit-profile a{
  color: #888;
  text-decoration: none;
  
}

.edit-profile a:hover{
  border-bottom: 1px solid #888;
}


/* FEED STYLES */
.feed-header {
  border-bottom: 1px solid #e2e2e2;
  padding: 18px 5px 10px;
  position: relative;
}
.list-header{
  font-size: 1.2em;
}
.feed-header h2 {
  display: inline-block;
}

.categories {
  position: absolute;
  right: 10%;
}

.categories a {
  text-decoration: none;
  font-size: 0.9em;
  color: #888;
}

.categories a:hover{
  border-bottom: 1px solid #888;
}

.categories > a ~ a {
  border-left: 1px solid #a2a2a2;
  padding-left: 4px;
}

.feed-body {
  width: 50%;
  margin-top: 2em;
  margin-right: auto;
  margin-left: auto;
}

.feed-item {
    margin-bottom: 1em;
    border: 1px solid #efefef;
    background-color: #fff;
    border-radius: 4px;
    border-bottom: 1px solid #e2e2e2;
    padding: 16px;

  }


  .feed-item-header {
    border-bottom: 1px solid #e2e2e2;
  }

  .feed-item-header h3 {
    font-weight: bold;
    position: relative;
  }

  .feed-item-header .title span ~ span {
    border-left: 1px solid #a2a2a2;
    padding-left: 5px;
    
  }

.title span {
  padding: 5px;
}

.title .record {
  color: #f32;
}
.status {
  text-align: right;
  position: absolute;
  top: -15px;
  color: #666;
}


.poster {
  padding: 8px;
}

.poster h2 {
  font-size: 1.1em;
  margin-bottom: 6px;
}

.poster p {
  font-style: italic;
  color: #777;
}

.description p {
  line-height: 1.3;
}

.feed-footer {
  margin-top: 5px;
  border-top: 1px solid #e2e2e2;
  padding-top: 1em;
}

.feed-footer a {
  text-decoration: none;
  color: #f33;
}

.feed-footer p {
  display: inline-block;
}

.modify {
  text-align: right;
  margin-left: 60%;
}

.modify a {
  padding: 4px;
}

.feed-footer a:hover {
  border-bottom: 1px solid #f32;
}

.modify a ~ a {
  border-left: 1px solid #f32;
  padding-left: 0.5em;
}



/* STATS SECTION STYLES */

.stats-content {
  flex: 1;
  margin-top: 2em;
  margin-bottom: 3em;
  padding: 2em;
}

.stats-main {
  width: 50%;
  margin-right: auto;
  margin-left: auto;
}






.stats-main table {
  border-collapse: separate;
  border-spacing: 0;
  color: #4a4a4d;
  font: sans-serif;
  font-size: 1.2em;
}
.stats-main th,
.stats-main td {
  padding: 10px 15px;
  vertical-align: middle;
}
.stats-main thead {
  background: #395870;
  background: linear-gradient(#49708f, #293f50);
  color: #fff;
  font-size: 11px;
  text-transform: uppercase;
}
.stats-main th:first-child {
  border-top-left-radius: 5px;
  text-align: left;
}
.stats-main th:last-child {
  border-top-right-radius: 5px;
}
.stats-main tbody tr:nth-child(even) {
  background: #f0f0f2;
}
.stats-main td {
  border-bottom: 1px solid #cecfd5;
  border-right: 1px solid #cecfd5;
}
.stats-main td:first-child {
  border-left: 1px solid #cecfd5;
}
.record-title {
  color: #395870;
  display: block;
}
.text-offset {
  color: #7c7c80;
  font-size: 12px;
}
.resolved,
.not-resolved {
  text-align: center;
}
.rejected {
  text-align: right;
}
.item-multiple {
  display: block;
}
.stats-main tbody {
  text-align: right;
}
.stats-main tbody tr:last-child {
  background: #f0f0f2;
  color: #395870;
  font-weight: bold;
}
.stats-main tbody tr:last-child td:first-child {
  border-bottom-left-radius: 5px;
}
.stats-main tbody tr:last-child td:last-child {
  border-bottom-right-radius: 5px;
}



/* HOME SECTION STYLES */
.home-section .modify {
  display: none;
}

.home-section .list-header {
  font-size: 1.5em;
  margin-left: 25%;
}

/* ADD RECORD SECTION */

.create-record-section {
  flex: 1;
  padding-bottom: 2em;
}

.record-item {
  max-width: 400px;
  margin-left: 25%;
}

.record-item h2 {
  text-align: center;
  padding: 1em;
  font-size: 1.5em;
  font-weight: bold;
  margin: 0;
}

.create-record-section {
  flex: 1;
}


.form-style {
  margin:10px auto;
  max-width: 400px;
  padding: 20px 12px 10px 20px;
  font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.form-style li {
  padding: 0;
  display: block;
  list-style: none;
  margin: 10px 0 0 0;
}
.form-style label{
  margin:0 0 0.6em 0;
  padding:0px;
  display:block;
  font-weight: bold;
}
.form-style input[type=text], 
.form-style input[type=date],
.form-style input[type=datetime],
.form-style input[type=number],
.form-style input[type=search],
.form-style input[type=time],
.form-style input[type=url],
.form-style input[type=email],
textarea, 
select{
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  border:1px solid #BEBEBE;
  padding: 7px;
  margin:0px;
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;  
}
.form-style input[type=text]:focus, 
.form-style input[type=date]:focus,
.form-style input[type=datetime]:focus,
.form-style input[type=number]:focus,
.form-style input[type=search]:focus,
.form-style input[type=time]:focus,
.form-style input[type=url]:focus,
.form-style input[type=email]:focus,
.form-style textarea:focus, 
.form-style select:focus{
  -moz-box-shadow: 0 0 8px #88D5E9;
  -webkit-box-shadow: 0 0 8px #88D5E9;
  box-shadow: 0 0 8px #88D5E9;
  border: 1px solid #88D5E9;
}
.form-style .field-divided{
  width: 49%;
}

.form-style .field-long{
  width: 100%;
}
.form-style .field-select{
  width: 100%;
}
.form-style .field-textarea{
  height: 100px;
}
.form-style input[type=submit], .form-style input[type=button]{
  background: #3eb060;
  padding: 8px 15px 8px 15px;
  border: none;
  color: #fff;
  width: 100%;
}
.form-style input[type=submit]:hover, .form-style input[type=button]:hover{
  background: #3ea060;
  box-shadow:none;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
}


/* EDIT RECORD STYLES */
.edit-record-section {
  flex: 1;
  padding-bottom: 2em;
}


/* ADMIN STYLES */

.status-update {
  font-size: 12px;
  padding-bottom: 1em;
}

.status-update select {
  font-size: 12px;
}

.record-status option {
  font-size: 12px;
  padding: 5px;
}


.btn-delete {
  background: #3eb060;
  padding: 8px 15px 8px 15px;
  border: none;
  color: #fff;
}

.btn-delete:hover {
  background: #3ea060;
  box-shadow:none;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
}